
@import 'bootstrap/scss/bootstrap';

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: darken($color: #000000, $amount: 0);
  color: #ffffff;
}

/* Keyframes */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Header Styles */
header {
  background-color: #343a40;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 20px;
  
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  width: 80px;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00 !important;
}

.navbar-toggler {
  border-color: #ffffff;
}

.social-icons a {
  color: #ffffff;
  margin: 0 5px;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: #ffcc00;
}

/* Section Styles */
section {
  padding-top: 100px; 
  padding-bottom: 500px; 
  min-height: 100vh;
  background: linear-gradient(#1f1f1f, darkblue,#1f1f1f, darkblue ); 
 
}

.hero {
  background-color: #0a0b0c;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}

.hero .btn {
  background-color: #007bff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
}

.games {
  background-position-x: center;
   background-image: url('../public/images/james.jpeg');
  color: #ffffff;
  padding: 50px 0;
}

.games .card {
  background-color: #1f1f1f;
  border: none;
}

.games .card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.games .card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.tokenomics, .roadmap, .about, .community {
  text-align: center;
  padding: 50px 0;
}

.tokenomics h2, .roadmap h2, .about h2, .community h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.tokenomics ul, .roadmap ul, .about p, .community p {
  font-size: 18px;
  margin-bottom: 20px;
}

.tokenomics {
  background-image: url('../public/images/tokenimics.jpeg');
  background-size: cover;
  background-position: center;
}

.roadmap {
  // background-color: #333;
  background: linear-gradient(#1f1f1f, darkblue,#1f1f1f, darkblue ); 
 
  color: #fff;
  padding: 50px 0;
}

.roadmap img {
  width: 100%;
  height: auto;
}

.about {
  background-color: #1f1f1f;
  color: #ffffff;
}

.about video {
  width: 100%;
  height: auto;
}

.footer {
  background: linear-gradient(#1f1f1f, darkblue,#1f1f1f, darkblue ); 
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer .social-icons a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 20px;
}

.footer .social-icons a:hover {
  color: #ffcc00;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 5px 10px;
  }

  .navbar-brand img {
    width: 60px;
  }

  section {
    padding-top: 60px; 
    padding-bottom: 30px; 
    min-height: 100vh;
  }

  .hero {
    padding: 50px 0;
  }

  .games, .wallet, .tokenomics, .roadmap, .about, .community {
    padding: 30px 0;
  }
}

.community-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.community-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, background-color 0s;
}

.community-link:hover {
  transform: scale(1.1);
  background-color: rgba(255, 206, 86, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.social-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

//LOGO
.logo img {
  width: 200px; 
  border-radius: 50%;
  animation: blingPop 2s ease-in-out infinite;
}

@keyframes blingPop {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  70% {
    transform: scale(0.9);
    opacity: 1;
  }
}

/* Additional styles to ensure the logo is centered at the top of the text */
.hero {
  position: relative;
  padding-top: 80px; 
}

.logo {
  position:absolute;
  top: 200px;
  left: 50%;
  background-color: transparent;
  transform: translateX(-50%);
}


*{
  background-color: #0A1B49;
}